@charset "utf-8";
	.st0
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-radius : 2px;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
}
.Estilodecarcternormal
{
	font-family : Gotham Rounded;
	font-size : 1px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Estilodecarcternormal1
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
